<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <h1>Welcome to the Home Page</h1>
    <p>This is the main landing page of the website.</p>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dicta voluptates
      cupiditate ut natus quia perspiciatis facilis voluptatibus distinctio
      possimus alias eius odit repudiandae adipisci animi ullam impedit
      praesentium, nam esse?
    </p>

    <a href="/users">Go to Users Page</a>
  </body>
</html>
