.product-form {
  width: 20rem;
  max-width: 90%;
  margin: auto;
}

.form-control {
  margin: 1rem 0;
}

.form-control label,
.form-control input {
  display: block;
  width: 100%;
}

.form-control input {
  border: 1px solid #703b09;
  font: inherit;
  border-radius: 2px;
}

button {
  font: inherit;
  border: 1px solid #703b09;
  background: #703b09;
  color: white;
  border-radius: 2px;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
}

button:hover,
button:active {
  background: #ffa26b;
  color: white;
}
